# Applied Data Science Capstone Week 3 Assignment

## Part 1: Scrape Wikipedia and create a dataset for the postal codes, boroughs and neighborhoods in Toronto

### Steps:
Import Pandas

In [0]:
import pandas as pd

Read the table using pandas.read_html

In [0]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

Clean blank boroughs.

In [0]:
df_cleaned = df.loc[df['Borough'] != 'Not assigned']

Quick check

In [15]:
df_cleaned.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

Determine the shape of the dataset.

In [26]:
df_cleaned.shape

(103, 3)