In [8]:
import pandas as pd
import numpy as np

In [1]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = list(zip(*arrays))

In [2]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [5]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

In [6]:
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [9]:
s = pd.Series(np.random.randn(8), index=index)

In [10]:
s

first  second
bar    one      -0.774336
       two       1.720205
baz    one      -0.088739
       two      -1.542204
foo    one       0.476085
       two      -0.790729
qux    one       1.592510
       two       1.324607
dtype: float64

In [11]:
df = pd.DataFrame([['bar', 'one'], ['bar', 'two'],['foo', 'one'], ['foo', 'two']],columns=['first', 'second'])

In [12]:
pd.MultiIndex.from_frame(df)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('foo', 'one'),
            ('foo', 'two')],
           names=['first', 'second'])

In [13]:
df = pd.DataFrame(np.random.randn(3, 8), index=['A', 'B', 'C'], columns=index)

In [14]:
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A       1.142147  0.152518  1.661415  0.698089  0.263747 -0.589525  0.890110
B       0.935887  1.122510  1.355722  0.188120 -0.556733  0.156483 -1.798252
C       0.445131 -1.652852 -0.391803 -0.953060 -0.125790  1.019657 -0.999949

first
second       two
A       2.358871
B       0.966364
C      -0.289211

In [15]:
df['bar']

second       one       two
A       1.142147  0.152518
B       0.935887  1.122510
C       0.445131 -1.652852

In [16]:
df['bar', 'one']

A    1.142147
B    0.935887
C    0.445131
Name: (bar, one), dtype: float64

In [17]:
df['bar']['one']

A    1.142147
B    0.935887
C    0.445131
Name: one, dtype: float64

In [18]:
s['qux']

second
one    1.592510
two    1.324607
dtype: float64

In [19]:
df.columns.levels

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [20]:
df[['foo','qux']].columns.levels

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [21]:
df[['foo', 'qux']].columns.to_numpy()

array([('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')],
      dtype=object)

In [22]:
df[['foo', 'qux']].columns.get_level_values(0)

Index(['foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [23]:
new_mi = df[['foo', 'qux']].columns.remove_unused_levels()

In [24]:
new_mi.levels

FrozenList([['foo', 'qux'], ['one', 'two']])

In [25]:
s

first  second
bar    one      -0.774336
       two       1.720205
baz    one      -0.088739
       two      -1.542204
foo    one       0.476085
       two      -0.790729
qux    one       1.592510
       two       1.324607
dtype: float64

In [26]:
s + s[:-2]

first  second
bar    one      -1.548672
       two       3.440410
baz    one      -0.177477
       two      -3.084409
foo    one       0.952170
       two      -1.581458
qux    one            NaN
       two            NaN
dtype: float64

In [27]:
df = df.T

In [28]:
df

                     A         B         C
first second
bar   one     1.142147  0.935887  0.445131
      two     0.152518  1.122510 -1.652852
baz   one     1.661415  1.355722 -0.391803
      two     0.698089  0.188120 -0.953060
foo   one     0.263747 -0.556733 -0.125790
      two    -0.589525  0.156483  1.019657
qux   one     0.890110 -1.798252 -0.999949
      two     2.358871  0.966364 -0.289211

In [30]:
type(df.loc[('bar', 'two')])

pandas.core.series.Series

In [31]:
df.loc[('bar', 'two'), 'A']

0.15251831754764553